.vscode/
build/
third_party/llvm-project
note.txt
.clangd
.zed
.cache
TODO.md
utils/*.bin
utils/test.py
utils/stories110M/
tests/components/*_output.ll
tests/components/*_output.mlir
tests/components/*.out
tests/components/*.log
tests/simplang
tests/llama/*_output.ll
tests/llama/*_output.mlir
tests/llama/*.out
tests/llama/*.log
python/cherry/__pycache__
python/cherry/*.so